.authorization {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; }
  .authorization__card {
    width: 40%; }

.user-card {
  width: 20%;
  text-align: center; }
  .user-card__actions {
    padding-top: 20px;
    display: flex;
    justify-content: space-around; }
  .user-card:hover {
    transform: rotate(-15deg);
    animation: shadow 2s infinite ease-in-out; }

@keyframes shadow {
  from {
    text-shadow: 0 0 3px black; }
  50% {
    text-shadow: 0 0 30px black; }
  to {
    text-shadow: 0 0 3px black; } }

@keyframes rotates {
  from {
    transform: rotate(720deg); } }

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .content__buttons {
    width: 20%;
    padding-top: 20px;
    display: flex;
    justify-content: space-around; }
  .content__users-cards {
    width: 100%;
    padding-top: 2em;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    animation: fade_out 5s infinite; }
